name: "continuous integration"

on:
  pull_request:
  push:
    branches:
      - main
      - "renovate/*"

jobs:
  coding-standards:
    name: "php cs fixer"

    runs-on: ${{ matrix.operating-system }}

    strategy:
      matrix:
        dependencies:
          - "locked"
        php-version:
          - "8.2"
          - "8.3"
          - "8.4"
        operating-system:
          - "ubuntu-latest"

    steps:
      - name: "checkout"
        uses: "actions/checkout@v6"

      - name: "install PHP"
        uses: "shivammathur/setup-php@2.35.5"
        with:
          coverage: "none"
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1
          tools: composer:v2, cs2pr, php-cs-fixer

      - name: "install dependencies"
        uses: "ramsey/composer-install@3.1.1"
        with:
          dependency-versions: "${{ matrix.dependencies }}"

      - name: "php cs fixer dry run"
        env:
          PHP_CS_FIXER_IGNORE_ENV: 1
        run: "php-cs-fixer fix --dry-run --format=checkstyle | cs2pr"